/* make the a tag remove symbol _  */
a {
  text-decoration: none;
}

h1 {
 /* to make the content container closer to the t */
  margin:0;
}

/* to make the form in center */
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* make each label input in different line */
label {
  display: block;
}

/* make table at center */
table {
  margin: auto;
}

/* make all paragraph text center */
p {
  text-align: center;
}

/* make the container div center and background color to white */
#container {
  background-color: white;
  margin: auto;
}

#header {
  background-color: #66CCFF;
  text-align: center;
}

#content {
  padding: 5px;
}

/* make the option_nav class to the left */
#option_navigation {
  float: left;
  text-align: left;
}

/* remove the list bullet point */
#option_navigation ul {
  list-style-type: none;
  padding: 0;
}

/* make the personal_information class to the right */
#personal_information {
  float: right;
  width: 1300px;
}

/* set up style for all submit button */
#submit_button, #reset_button {
  /* set text color to white */
  color: #fff;
  /* set background color to blue */
  background-color: #0069ff;
  width: 150px;
  height: 30px;
  /* make the edge look round */
  border-radius: 10%;
  text-transform: uppercase;
}
